# Main functions
 - StandardFileReader
 - maybeFST
 - get_basic_dataframe
 - StandardFileWriter
 - add_dask_column
 - add_grid_column
 - add_columns
 - compute
 - get_2d_lat_lon_df
 - select_with_meta
 - metadata_cleanup
 - to_dask
 - to_numpy
 - unit_convert
 - unit_convert_array
 - fststat
 - voir

In [1]:
import pandas as pd
import os
import multiprocessing as mp
import numpy.ma as ma
import datetime
import fstpy
import glob
from os import getenv

pd.options.mode.chained_assignment = None  # default='warn'

CMCGRIDF = "/space/hall5/sitestore/eccc/prod/hubs/gridpt/dbase"
ATM_MODEL_DFILES = "/fs/ssm/eccc/mrd/rpn/MIG/GEM/d/gem-data/gem-data_4.2.0/gem-data_4.2.0_all/share/data/dfiles"

# StandardFileReader and maybeFST
- reads in the record information of the provided file(s)

In [2]:
print(f"StandardFileReader:{fstpy.StandardFileReader.__doc__}")
print(f"maybeFST:{fstpy.maybeFST.__doc__}")
directory = os.path.join(ATM_MODEL_DFILES, "bcmk", "**")
files = glob.glob(directory)
# check that the files are FST files
files = [f for f in files[:10] if fstpy.maybeFST(f)]
df = fstpy.StandardFileReader(files).to_pandas()
cols = list(df.columns)
cols.remove("d")
df[cols]

WARNING:root:FSTPY: Found duplicate rows in dataframe!

StandardFileReader:Class to handle fst files. Opens, reads the contents of an fst file or files into a pandas dataframe and closes. Extra metadata columns are added to the dataframe if specified.

        :param filenames: path to file or list of paths to files
        :type filenames: str|pathlib.Path|list[str], does not accept wildcards (numpy has
                         many tools for this)
        :param decode_metadata: adds extra columns, defaults to False
            'unit':str, unit name
            'unit_converted':bool
            'description':str, field description
            'date_of_observation':datetime, of the date of observation
            'date_of_validity': datetime, of the date of validity
            'level':float32, decoded ip1 level
            'ip1_kind':int32, decoded ip1 kind
            'ip1_pkind':str, string repr of ip1_kind int
            'data_type_str':str, string repr of data type
            'label':str, label derived from etiket
            'run':str, run derived from etiket
            'implementation': str, implementation derived from etiket
            'ensemble_member': str, ensemble member derived from etiket
            'surface':bool, True if the level is a surface level
            'follow_topography':bool, indicates if this type of level follows topography
            'ascending':bool, indicates if this type of level is in ascending order
            'vctype':str, vertical level type
            'forecast_hour': timedelta, forecast hour obtained from deet * npas / 3600
            'ip2_dec':value of decoded ip2
            'ip2_kind':kind of decoded ip2
            'ip2_pkind':printable kind of decoded ip2
            'ip3_dec':value of decoded ip3
            'ip3_kind':kind of decoded ip3
            'ip3_pkind':printable kind of decoded ip3
        :type decode_metadata: bool, optional
        :param query: parameter to pass to dataframe.query method, to select specific records
        :type query: str, optional

maybeFST:Lightweight test to check if file is of FST type (Micheal Neish - fstd2nc)

    :param filename: file to test
    :type filename: str|pathlib.Path
    :return: True if isfile and of FST type, else False
    :rtype: bool

,nomvar,typvar,etiket,ni,nj,nk,dateo,ip1,ip2,ip3,...,npas,datyp,nbits,grtyp,ig1,ig2,ig3,ig4,datev,grid
0,P0,P,G133K80P,200,100,1,354514400,0,0,0,...,0,1,12,G,0,0,0,0,354514400,00
1,TT,P,G133K80P,200,100,1,354514400,97642568,0,0,...,0,1,12,G,0,0,0,0,354514400,00
2,TT,P,G133K80P,200,100,1,354514400,97738568,0,0,...,0,1,12,G,0,0,0,0,354514400,00
3,TT,P,G133K80P,200,100,1,354514400,97899568,0,0,...,0,1,12,G,0,0,0,0,354514400,00
4,TT,P,G133K80P,200,100,1,354514400,98152568,0,0,...,0,1,12,G,0,0,0,0,354514400,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,I8,P,CCCMACISLDEO,200,100,1,323427143,0,8,0,...,0,1,12,G,0,0,0,0,323427143,00
1583,I8,P,CCCMACISLDEO,200,100,1,323427143,0,9,0,...,0,1,12,G,0,0,0,0,323427143,00
1584,I8,P,CCCMACISLDEO,200,100,1,323427143,0,10,0,...,0,1,12,G,0,0,0,0,323427143,00
1585,I8,P,CCCMACISLDEO,200,100,1,323427143,0,11,0,...,0,1,12,G,0,0,0,0,323427143,00
1586,I8,P,CCCMACISLDEO,200,100,1,323427143,0,12,0,...,0,1,12,G,0,0,0,0,323427143,00

# Get a lot of files

In [3]:
fdate = datetime.date.today().strftime("%Y%m%d") + "**"

directory = os.path.join(CMCGRIDF, "prog", "glbpres.usr", fdate)

files = glob.glob(directory)

with mp.Pool(processes=20) as pool:
    res = pool.map(fstpy.maybeFST, [file for file in files])  # runs in *only* one process

files = list(ma.masked_array(files, mask=[not elem for elem in res]))

print(f"found {len(files)} FST files")

found 137 FST files

# get_basic_dataframe (lightweight reader)

In [4]:
print(f"get_basic_dataframe:{fstpy.get_basic_dataframe.__doc__}")

with mp.Pool(processes=int(mp.cpu_count() / 2)) as pool:
    df_list = pool.map(fstpy.get_basic_dataframe, [file for file in files])  # runs in *only* one process

df = pd.concat(df_list, ignore_index=True)
df

get_basic_dataframe:Creates a dataframe of all non deleted records in an FST file, does not include data 'd'

    :param path: path of file to load
    :type path: str
    :return: dataframe of all non deleted records in an FST file
    :rtype: pd.DataFrame

,nomvar,typvar,etiket,ni,nj,nk,dateo,ip1,ip2,ip3,...,ig1,ig2,ig3,ig4,datev,lng,swa,key,path,shape
0,>>,X,G1_9_0_0N,1801,1,1,0,68839,90098,0,...,900,0,43200,43200,0,1826,2335,1,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1)"
1,^^,X,G1_9_0_0N,1,1251,1,0,68839,90098,0,...,900,0,43200,43200,0,1276,3248,1025,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1, 1251)"
2,ES,P,G1_9_0_0N,1801,1251,1,477958400,900,3,0,...,68839,90098,0,0,477961100,849436,3886,2049,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1251)"
3,ES,P,G1_9_0_0N,1801,1251,1,477958400,985,3,0,...,68839,90098,0,0,477961100,830978,428604,3073,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1251)"
4,ES,P,G1_9_0_0N,1801,1251,1,477958400,20,3,0,...,68839,90098,0,0,477961100,145388,844093,4097,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1251)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29252,TT,P,G1_9_0_0N,1801,1251,1,477958400,93423264,52,0,...,68839,90098,0,0,478005200,502368,1850687,9217,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1251)"
29253,TD,P,G1_9_0_0N,1801,1251,1,477958400,93423264,52,0,...,68839,90098,0,0,478005200,284962,2101871,10241,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1251)"
29254,PR,P,G1_9_0_0N,1801,1251,1,477958400,0,52,0,...,68839,90098,0,0,478005200,1762182,2244352,11265,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1251)"
29255,PC,P,G1_9_0_0N,1801,1251,1,477958400,0,52,0,...,68839,90098,0,0,478005200,958074,3125443,12289,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(1801, 1251)"
29256,!!,X,G1_9_0_0N,3,175,1,0,68839,90098,0,...,5005,0,300,1500,0,1074,3604480,13313,/space/hall5/sitestore/eccc/prod/hubs/gridpt/d...,"(3, 175)"

# StandardFileWriter, add_grid_column, add_dask_column

In [5]:
# setup our output file
user = getenv("USER")
out_file = f"/home/{user}/TT.std"
if os.path.isfile(out_file):
    os.remove(out_file)


print(f"StandardFileWriter:{fstpy.StandardFileWriter.__doc__}")
print(f"add_grid_column:{fstpy.add_grid_column.__doc__}")
print(f"add_dask_column:{fstpy.add_dask_column.__doc__}")

# the basic dataframe has no grid column
df = fstpy.add_grid_column(df)

# get all the TT
tt_df = df.loc[(df.nomvar == "TT")]

# get the first grid
grid = tt_df.iloc[0].grid

# select TT with first grid only
tt_df = tt_df.loc[(tt_df.grid == grid)]

# get TT's horizontal and vertical grid fields
grid_meta_df = df.loc[(df.nomvar.isin([">>", "^^", "^>", "!!", "PT"])) & (df.grid == grid)]
p0_meta_df = df.loc[(df.nomvar.isin(["P0"])) & (df.grid == grid)]


# join all the rows together
tt_df = pd.concat([tt_df, grid_meta_df, p0_meta_df], ignore_index=True)

# cleanup the dataframe
tt_df = tt_df.drop_duplicates(
    subset=[
        "nomvar",
        "typvar",
        "etiket",
        "ni",
        "nj",
        "nk",
        "dateo",
        "ip1",
        "ip2",
        "ip3",
        "deet",
        "npas",
        "datyp",
        "nbits",
        "grtyp",
        "ig1",
        "ig2",
        "ig3",
        "ig4",
        "datev",
    ]
)

# the basic dataframe needs the 'd' column
tt_df = fstpy.add_dask_column(tt_df)  # attention on dois changer le dateo pour la date courante

# write the results
fstpy.StandardFileWriter(out_file, tt_df).to_fst()

# check the results
display(fstpy.get_basic_dataframe(out_file))

os.remove(out_file)

StandardFileWriter:Writes a standard file Dataframe to file. If no metada fields like ^^ and >> are found,
    an attempt will be made to load them from the original file so that they can be added to the output if not already present

    :param filename: path of file to write to
    :type filename: str
    :param df: dataframe to write
    :type df: pd.DataFrame
    :param mode: In 'dump' mode, no processing will be done on the dataframe
                before writing, data must be present in the dataframe (df = compute(df)).
                If set to 'update', path must be an existing file. Only the
                field metadata will be updated, the data itself will not be
                modified. In 'write' mode, the data will be loaded, metadata
                fields like '>>' will be added if not present default 'write'
    :type mode: str
    :param no_meta: if true these fields ["^>", ">>", "^^", "!!", "!!SF", "HY", "P0", "PT", "E1"] will be removed from the dataframe
    :type no_meta: bool
    :param overwrite: if True and dataframe inputfile is the same as the output file, records will be added to the file, defaults to False
    :type overwrite: bool, optional
    :param rewrite: overrides default rewrite value for fstecr, default None
    :type rewrite: bool, optional

add_grid_column:
    Adds the grid column to the dataframe. The grid column is a simple identifier composed of ip1+ip2 or ig1+ig2 depending on the type of record (>>,^^,^>) vs regular field.
    Replaces original column(s) if present.

    :param df: input dataframe
    :type df: pd.DataFrame
    :return: modified dataframe with the 'grid' column added
    :rtype: pd.DataFrame

add_dask_column:Adds the 'd' column as dask arrays to a basic dataframe of meta data only, path and key columns have to be present in the DataFrame

    :param df: input dataframe
    :type df: pd.DataFrame
    :return: modified Dataframe with added 'd' column
    :rtype: pd.DataFrame

,nomvar,typvar,etiket,ni,nj,nk,dateo,ip1,ip2,ip3,...,ig1,ig2,ig3,ig4,datev,lng,swa,key,path,shape
0,^^,X,G1_9_0_0N,1,1251,1,0,68839,90098,0,...,900,0,43200,43200,0,1276,2335,6,/home/sbf000/TT.std,"(1, 1251)"
1,>>,X,G1_9_0_0N,1801,1,1,0,68839,90098,0,...,900,0,43200,43200,0,1826,2973,1030,/home/sbf000/TT.std,"(1801, 1)"
2,P0,P,G1_9_0_0N,1801,1251,1,477958400,0,3,0,...,68839,90098,0,0,477961100,932470,3886,2054,/home/sbf000/TT.std,"(1801, 1251)"
3,P0,P,G1_9_0_0N,1801,1251,1,477958400,0,4,0,...,68839,90098,0,0,477962000,932646,470121,3078,/home/sbf000/TT.std,"(1801, 1251)"
4,P0,P,G1_9_0_0N,1801,1251,1,477958400,0,2,0,...,68839,90098,0,0,477960200,932208,936444,4102,/home/sbf000/TT.std,"(1801, 1251)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3998,TT,P,G1_9_0_0N,1801,1251,1,477958400,1660,240,0,...,68839,90098,0,0,478174400,301100,862158841,8026118,/home/sbf000/TT.std,"(1801, 1251)"
3999,TT,P,G1_9_0_0N,1801,1251,1,477958400,30,240,0,...,68839,90098,0,0,478174400,366996,862309391,8027142,/home/sbf000/TT.std,"(1801, 1251)"
4000,TT,P,G1_9_0_0N,1801,1251,1,477958400,93423264,234,0,...,68839,90098,0,0,478169000,501696,862492889,8028166,/home/sbf000/TT.std,"(1801, 1251)"
4001,TT,P,G1_9_0_0N,1801,1251,1,477958400,93423264,237,0,...,68839,90098,0,0,478171700,503064,862743737,8029190,/home/sbf000/TT.std,"(1801, 1251)"
4002,TT,P,G1_9_0_0N,1801,1251,1,477958400,93423264,240,0,...,68839,90098,0,0,478174400,502578,862995269,8030214,/home/sbf000/TT.std,"(1801, 1251)"

# add_columns

In [6]:
print(f"add_columns:{fstpy.add_columns.__doc__}")

df = fstpy.StandardFileReader(
    "/home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std"
).to_pandas()

print(df.columns)

orig_cols = set(list(df.columns))

# add decode ips
df = fstpy.add_columns(df, "ip_info")

new_cols = set(list(df.columns))

print(df.columns)

diff = new_cols.difference(orig_cols)

print(f"newly added columns {diff}")

df[list(diff)]

add_columns:If valid columns are provided, they will be added.
       These include ['flags','etiket','unit','dateo','datev','forecast_hour', 'datyp','ip_info', 'description']
       Replaces original column(s) if present.

    :param df: dataframe to modify (meta data needs to be present in dataframe)
    :type df: pd.DataFrame
    :param decode: if decode is True, add the specified columns
    :type decode: bool
    :param columns: [description], defaults to  ['flags','etiket','unit','dateo','datev','forecast_hour', 'datyp','ip_info', 'description']
    :type columns: list[str], optional

Index(['nomvar', 'typvar', 'etiket', 'ni', 'nj', 'nk', 'dateo', 'ip1', 'ip2',
       'ip3', 'deet', 'npas', 'datyp', 'nbits', 'grtyp', 'ig1', 'ig2', 'ig3',
       'ig4', 'datev', 'grid', 'd'],
      dtype='object')
Index(['nomvar', 'typvar', 'etiket', 'ni', 'nj', 'nk', 'dateo', 'ip1', 'ip2',
       'ip3', 'deet', 'npas', 'datyp', 'nbits', 'grtyp', 'ig1', 'ig2', 'ig3',
       'ig4', 'datev', 'grid', 'd', 'level', 'ip1_kind', 'ip1_pkind',
       'ip2_dec', 'ip2_kind', 'ip2_pkind', 'ip3_dec', 'ip3_kind', 'ip3_pkind',
       'surface', 'follow_topography', 'ascending', 'interval', 'vctype'],
      dtype='object')
newly added columns {'ip1_kind', 'ip3_kind', 'ip3_pkind', 'ip2_kind', 'follow_topography', 'surface', 'ip3_dec', 'interval', 'ip2_pkind', 'vctype', 'ip2_dec', 'ascending', 'level', 'ip1_pkind'}

,ip1_kind,ip3_kind,ip3_pkind,ip2_kind,follow_topography,surface,ip3_dec,interval,ip2_pkind,vctype,ip2_dec,ascending,level,ip1_pkind
0,1,100,,10,True,True,0.0,None,H,UNKNOWN,0.0,False,1.0,sg
1,1,100,,10,True,True,0.0,None,H,UNKNOWN,0.0,False,1.0,sg
2,1,100,,10,True,True,0.0,None,H,UNKNOWN,0.0,False,1.0,sg
3,100,100,,100,False,False,0.0,None,,UNKNOWN,235.0,True,153.0,
4,100,100,,100,False,False,0.0,None,,UNKNOWN,235.0,True,153.0,

# compute

In [7]:
print(f"compute:{fstpy.compute.__doc__}")

df = fstpy.StandardFileReader(
    "/home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std"
).to_pandas()

df = df.loc[df.nomvar == "TT"]

tt_df = pd.DataFrame([df.iloc[0].to_dict()])

print(f"dask array {tt_df.iloc[0].d}")

tt_df = fstpy.compute(tt_df)

print(f"numpy array {tt_df.iloc[0].d}")

compute:Converts all dask arrays contained in the 'd' column, by numpy arrays

    :param df: input DataFrame
    :type df: pd.DataFrame
    :param remove_path_and_key: remove path and key column after conversion, defaults to True
    :type remove_path_and_key: bool, optional
    :return: modified dataframe with numpy arrays instead of dask arrays
    :rtype: pd.DataFrame

dask array dask.array</home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std:2054, shape=(576, 641), dtype=float32, chunksize=(576, 641), chunktype=numpy.ndarray>
numpy array [[27.4581   27.23349  26.518646 ... 28.16513  27.629974 24.954193]
 [27.42685  27.182709 26.307709 ... 28.219818 27.465912 25.012787]
 [27.409271 27.026459 26.288177 ... 28.38388  27.35263  25.17099 ]
 ...
 [27.450287 27.190521 26.47763  ... 27.260834 28.047943 24.735443]
 [27.462006 27.200287 26.479584 ... 28.182709 27.817474 24.79013 ]
 [27.4581   27.23349  26.518646 ... 28.16513  27.629974 24.954193]]

# get_2d_lat_lon_df

In [8]:
print(f"get_2d_lat_lon_df:{fstpy.get_2d_lat_lon_df.__doc__}")

df = fstpy.StandardFileReader(
    "/home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std"
).to_pandas()

tt_df = df.loc[df.nomvar == "TT"]

lat_lon_df = fstpy.get_2d_lat_lon_df(tt_df)

lat_lon_df

get_2d_lat_lon_df:Gets the latitudes and longitudes as 2d arrays associated with the supplied grids

    :return: a pandas Dataframe object containing the lat and lon meta data of the grids
    :rtype: pd.DataFrame
    :raises Get2DLatLonError: no records to process

,nomvar,typvar,etiket,ni,nj,nk,dateo,ip1,ip2,ip3,...,grtyp,ig1,ig2,ig3,ig4,datev,grid,d,path,key
0,LA,P,R1558V0N,576,641,1,353315600,12000,0,0,...,Z,153,235,0,0,353315600,153235,"[[-7.8338194, -10.389295, -12.936791, -15.4741...",/home/spst900/data/sitestore6/spooki/spooki_di...,2055
1,LO,P,R1558V0N,576,641,1,353315600,12000,0,0,...,Z,153,235,0,0,353315600,153235,"[[340.01065, 341.60236, 343.22028, 344.87155, ...",/home/spst900/data/sitestore6/spooki/spooki_di...,2055

# select_with_meta

In [9]:
print(f"select_with_meta:{fstpy.select_with_meta.__doc__}")

df = fstpy.StandardFileReader(
    "/home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std"
).to_pandas()

uuvv_df = fstpy.select_with_meta(df, ["UU", "VV"])

uuvv_df

select_with_meta:Select fields with accompaning meta data

    :param df: dataframe to select from
    :type df: pd.DataFrame
    :param nomvar: list of nomvars to select
    :type nomvar: list
    :raises SelectError: if dataframe is empty, if nothing to select or if variable not found in dataframe
    :return: dataframe with selection results
    :rtype: pd.DataFrame

,nomvar,typvar,etiket,ni,nj,nk,dateo,ip1,ip2,ip3,...,ip2_kind,ip2_pkind,ip3_dec,ip3_kind,ip3_pkind,surface,follow_topography,ascending,interval,vctype
0,^^,X,R1558V0N,1,641,1,353315600,153,235,0,...,100,,0.0,100,,False,False,True,None,UNKNOWN
1,>>,X,R1558V0N,576,1,1,353315600,153,235,0,...,100,,0.0,100,,False,False,True,None,UNKNOWN
2,UU,P,R1558V0N,576,641,1,353315600,12000,0,0,...,10,H,0.0,100,,True,True,False,None,UNKNOWN
3,VV,P,R1558V0N,576,641,1,353315600,12000,0,0,...,10,H,0.0,100,,True,True,False,None,UNKNOWN

# metadata_cleanup

In [10]:
print(f"metadata_cleanup:{fstpy.metadata_cleanup.__doc__}")

df = fstpy.StandardFileReader(
    "/home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std"
).to_pandas()

meta_df = df.loc[df.nomvar.isin(["!!", "^^", ">>", "^>", "P0", "PT"])]

uuvv_df = fstpy.select_with_meta(df, ["UU", "VV"])

all_df = pd.concat([meta_df, uuvv_df], ignore_index=True)

print(
    f"before cleanup{all_df.loc[all_df.nomvar.isin(['!!', '^^', '>>', '^>', 'P0', 'PT'])][['nomvar', 'typvar', 'etiket', 'ni', 'nj', 'nk', 'dateo', 'ip1', 'ip2', 'ip3', 'deet', 'npas', 'datyp', 'nbits', 'grtyp', 'ig1', 'ig2', 'ig3', 'ig4', 'datev']].to_string()}"
)

all_df = fstpy.metadata_cleanup(all_df)

print(
    f"after cleanup{all_df.loc[all_df.nomvar.isin(['!!', '^^', '>>', '^>', 'P0', 'PT'])][['nomvar', 'typvar', 'etiket', 'ni', 'nj', 'nk', 'dateo', 'ip1', 'ip2', 'ip3', 'deet', 'npas', 'datyp', 'nbits', 'grtyp', 'ig1', 'ig2', 'ig3', 'ig4', 'datev']].to_string()}"
)

metadata_cleanup:Cleans the metadata from a dataframe according to rules.

    :param df: dataframe to clean
    :type df: pd.DataFrame
    :return: dataframe with only cleaned meta_data
    :rtype: pd.DataFrame

before cleanup  nomvar typvar    etiket   ni   nj  nk      dateo  ip1  ip2  ip3  deet  npas  datyp  nbits grtyp   ig1  ig2    ig3    ig4      datev
0     >>      X  R1558V0N  576    1   1  353315600  153  235    0   450     0      5     32     E  1480  750  56000  44000  353315600
1     ^^      X  R1558V0N    1  641   1  353315600  153  235    0   450     0      5     32     E  1480  750  56000  44000  353315600
2     ^^      X  R1558V0N    1  641   1  353315600  153  235    0   450     0      5     32     E  1480  750  56000  44000  353315600
3     >>      X  R1558V0N  576    1   1  353315600  153  235    0   450     0      5     32     E  1480  750  56000  44000  353315600
after cleanup  nomvar typvar    etiket   ni   nj  nk      dateo  ip1  ip2  ip3  deet  npas  datyp  nbits grtyp   ig1  ig2    ig3    ig4      datev
0     ^^      X  R1558V0N    1  641   1  353315600  153  235    0   450     0      5     32     E  1480  750  56000  44000  353315600
1     >>      X  R1558V0N  576    1   1  353315600  153  235    0   450     0      5     32     E  1480  750  56000  44000  353315600

# to_dask / to_numpy

In [11]:
print(f"to_dask:{fstpy.to_dask.__doc__}")
print(f"to_numpy:{fstpy.to_numpy.__doc__}")

# get the data of the 0 row in the dataframe
dask_array = all_df.loc[0].d

print(dask_array)

print(fstpy.to_dask(dask_array))

numpy_array = fstpy.to_numpy(dask_array)

print(numpy_array)

print(fstpy.to_dask(numpy_array))

to_dask:If the array is of dask type, no op, else comvert array to dask array

    :param arr: array to convert
    :type arr: np.ndarray|da.core.Array
    :raises ConversionError: Raised if not a numpy or dask array
    :return: a dask array
    :rtype: da.core.Array

to_numpy:If the array is of numpy type, no op, else compute de daks array to get a numpy array

    :param arr: array to convert
    :type arr: np.ndarray|da.core.Array
    :raises ConversionError: Raised if not a numpy or dask array
    :return: a numpy array
    :rtype: np.ndarray

dask.array</home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std:1031, shape=(1, 641), dtype=float32, chunksize=(1, 641), chunktype=numpy.ndarray>
dask.array</home/spst900/data/sitestore6/spooki/spooki_dir/pluginsRelatedStuff/WindChill/testsFiles/UUVVTT_fileSrc.std:1031, shape=(1, 641), dtype=float32, chunksize=(1, 641), chunktype=numpy.ndarray>
[[-88.5947     -85.5947     -82.5947     -79.5947     -76.5947
  -73.5947     -70.5947     -67.5947     -64.78412    -62.23422
  -59.92083    -57.82201    -55.917862   -54.190323   -52.62302
  -51.201088   -49.911045   -48.740654   -47.678818   -46.71547
  -45.841476   -45.048546   -44.329163   -43.676502   -43.084377
  -42.547173   -42.059795   -41.617626   -41.216465   -40.852516
  -40.52232    -40.222755   -39.95097    -39.7044     -39.480694
  -39.27774    -39.09361    -38.92656    -38.775      -38.6375
  -38.5        -38.3625     -38.225002   -38.0875     -37.95
  -37.8125     -37.675      -37.537502   -37.4        -37.2625
  -37.125      -36.9875     -36.850002   -36.7125     -36.575
  -36.4375     -36.3        -36.162502   -36.025      -35.8875
  -35.75       -35.6125     -35.475002   -35.3375     -35.2
  -35.0625     -34.925      -34.787502   -34.65       -34.5125
  -34.375      -34.2375     -34.100002   -33.9625     -33.825
  -33.6875     -33.55       -33.412502   -33.275      -33.1375
  -33.         -32.8625     -32.725002   -32.5875     -32.45
  -32.3125     -32.175      -32.037502   -31.900002   -31.7625
  -31.625      -31.487501   -31.35       -31.212502   -31.075
  -30.9375     -30.800001   -30.6625     -30.525002   -30.3875
  -30.25       -30.112501   -29.975      -29.837502   -29.7
  -29.5625     -29.425001   -29.2875     -29.150002   -29.0125
  -28.875      -28.737501   -28.6        -28.462502   -28.325
  -28.1875     -28.050001   -27.9125     -27.775002   -27.6375
  -27.5        -27.362501   -27.225      -27.087502   -26.95
  -26.8125     -26.675001   -26.5375     -26.4        -26.2625
  -26.125      -25.987501   -25.85       -25.7125     -25.575
  -25.4375     -25.300001   -25.1625     -25.025      -24.8875
  -24.75       -24.612501   -24.475      -24.3375     -24.2
  -24.0625     -23.925001   -23.7875     -23.65       -23.5125
  -23.375      -23.237501   -23.1        -22.9625     -22.825
  -22.6875     -22.550001   -22.4125     -22.275      -22.1375
  -22.         -21.862501   -21.725      -21.5875     -21.45
  -21.3125     -21.175001   -21.0375     -20.9        -20.7625
  -20.625      -20.487501   -20.35       -20.2125     -20.075
  -19.9375     -19.800001   -19.6625     -19.525      -19.3875
  -19.25       -19.112501   -18.975      -18.8375     -18.7
  -18.5625     -18.425001   -18.2875     -18.15       -18.0125
  -17.875      -17.737501   -17.6        -17.4625     -17.325
  -17.1875     -17.050001   -16.9125     -16.775      -16.6375
  -16.5        -16.362501   -16.225      -16.0875     -15.950001
  -15.8125     -15.675      -15.5375     -15.400001   -15.262501
  -15.125      -14.9875     -14.85       -14.712501   -14.575001
  -14.4375     -14.3        -14.1625     -14.025001   -13.887501
  -13.75       -13.6125     -13.475      -13.337501   -13.2
  -13.0625     -12.925      -12.7875     -12.650001   -12.5125
  -12.375      -12.2375     -12.1        -11.962501   -11.825
  -11.6875     -11.55       -11.4125     -11.275001   -11.1375
  -11.         -10.8625     -10.725      -10.587501   -10.45
  -10.3125     -10.175      -10.0375      -9.900001    -9.7625
   -9.625       -9.4875      -9.35        -9.212501    -9.075
   -8.9375      -8.8         -8.6625      -8.525001    -8.3875
   -8.25        -8.1125      -7.9750004   -7.8375      -7.7000003
   -7.5625      -7.425       -7.2875004   -7.15        -7.0125003
   -6.875       -6.7375      -6.6         -6.4625      -6.3250003
   -6.1875      -6.05        -5.9125      -5.775       -5.6375003
   -5.5         -5.3625      -5.225       -5.0875      -4.9500003
   -4.8125      -4.675       -4.5375      -4.4         -4.2625003
   -4.125       -3.9875002   -3.8500001   -3.7125      -3.575
   -3.4375      -3.3         -3.1625001   -3.025       -2.8875
   -2.75        -2.6125      -2.4750001   -2.3375      -2.2
   -2.0625      -1.9250001   -1.7875      -1.65        -1.5125
   -1.375       -1.2375001   -1.1         -0.96250004  -0.825
   -0.6875      -0.55        -0.4125      -0.275       -0.1375
    0.           0.1375       0.275        0.4125       0.55
    0.6875       0.825        0.96250004   1.1          1.2375001
    1.375        1.5125       1.65         1.7875       1.9250001
    2.0625       2.2          2.3375       2.4750001    2.6125
    2.75         2.8875       3.025        3.1625001    3.3
    3.4375       3.575        3.7125       3.8500001    3.9875002
    4.125        4.2625003    4.4          4.5375       4.675
    4.8125       4.9500003    5.0875       5.225        5.3625
    5.5          5.6375003    5.775        5.9125       6.05
    6.1875       6.3250003    6.4625       6.6          6.7375
    6.875        7.0125003    7.15         7.2875004    7.425
    7.5625       7.7000003    7.8375       7.9750004    8.1125
    8.25         8.3875       8.525001     8.6625       8.8
    8.9375       9.075        9.212501     9.35         9.4875
    9.625        9.7625       9.900001    10.0375      10.175
   10.3125      10.45        10.587501    10.725       10.8625
   11.          11.1375      11.275001    11.4125      11.55
   11.6875      11.825       11.962501    12.1         12.2375
   12.375       12.5125      12.650001    12.7875      12.925
   13.0625      13.2         13.337501    13.475       13.6125
   13.75        13.887501    14.025001    14.1625      14.3
   14.4375      14.575001    14.712501    14.85        14.9875
   15.125       15.262501    15.400001    15.5375      15.675
   15.8125      15.950001    16.0875      16.225       16.362501
   16.5         16.6375      16.775       16.9125      17.050001
   17.1875      17.325       17.4625      17.6         17.737501
   17.875       18.0125      18.15        18.2875      18.425001
   18.5625      18.7         18.8375      18.975       19.112501
   19.25        19.3875      19.525       19.6625      19.800001
   19.9375      20.075       20.2125      20.35        20.487501
   20.625       20.7625      20.9         21.0375      21.175001
   21.3125      21.45        21.5875      21.725       21.862501
   22.          22.1375      22.275       22.4125      22.550001
   22.6875      22.825       22.9625      23.1         23.237501
   23.375       23.5125      23.65        23.7875      23.925001
   24.0625      24.2         24.3375      24.475       24.612501
   24.75        24.8875      25.025       25.1625      25.300001
   25.4375      25.575       25.7125      25.85        25.987501
   26.125       26.2625      26.4         26.5375      26.675001
   26.8125      26.95        27.087502    27.225       27.362501
   27.5         27.6375      27.775002    27.9125      28.050001
   28.1875      28.325       28.462502    28.6         28.737501
   28.875       29.0125      29.150002    29.2875      29.425001
   29.5625      29.7         29.837502    29.975       30.112501
   30.25        30.3875      30.525002    30.6625      30.800001
   30.9375      31.075       31.212502    31.35        31.487501
   31.625       31.7625      31.900002    32.037502    32.175
   32.3125      32.45        32.5875      32.725002    32.8625
   33.          33.1375      33.275       33.412502    33.55
   33.6875      33.825       33.9625      34.100002    34.2375
   34.375       34.5125      34.65        34.787502    34.925
   35.0625      35.2         35.3375      35.475002    35.6125
   35.75        35.8875      36.025       36.162502    36.3
   36.4375      36.575       36.7125      36.850002    36.9875
   37.125       37.2625      37.4         37.537502    37.675
   37.8125      37.95        38.0875      38.225002    38.3625
   38.5         38.6375      38.775       38.92656     39.09361
   39.27774     39.480694    39.7044      39.95097     40.222755
   40.52232     40.852516    41.216465    41.617626    42.059795
   42.547173    43.084377    43.676502    44.329163    45.048546
   45.841476    46.71547     47.678818    48.740654    49.911045
   51.201088    52.62302     54.190323    55.917862    57.82201
   59.92083     62.23422     64.78412     67.5947      70.5947
   73.5947      76.5947      79.5947      82.5947      85.5947
   88.5947    ]]
dask.array<array, shape=(1, 641), dtype=float32, chunksize=(1, 641), chunktype=numpy.ndarray>

# Unit Conversion with cf_units

In [12]:
print(f"Unit conversion in fstpy uses the cf_units library for robust and standardized unit conversions.")
print("The system provides:")
print("1. Direct conversion between compatible units using cf_units")
print("2. Automatic mapping of CMC unit names to cf_units compatible names")
print("3. Support for common meteorological unit conversions")

# Example of unit conversion using cf_units
from fstpy.unit_helpers import get_cf_unit

# Get a cf_units Unit object for knots
knots = get_cf_unit("knot")
print(f"Knots unit: {knots}")

# Get a cf_units Unit object for meters per second
mps = get_cf_unit("meter_per_second")
print(f"Meters per second unit: {mps}")

# Convert a value from knots to meters per second
value_in_knots = 50.0
value_in_mps = knots.convert(value_in_knots, mps)
print(f"{value_in_knots} knots = {value_in_mps} m/s")

# Example with temperature
celsius = get_cf_unit("celsius")
kelvin = get_cf_unit("kelvin")
temp_c = 25.0
temp_k = celsius.convert(temp_c, kelvin)
print(f"{temp_c}°C = {temp_k}K")

Unit conversion in fstpy uses the cf_units library for robust and standardized unit conversions.
The system provides:
1. Direct conversion between compatible units using cf_units
2. Automatic mapping of CMC unit names to cf_units compatible names
3. Support for common meteorological unit conversions
Knots unit: knot
Meters per second unit: m/s
50.0 knots = 25.722222222222225 m/s
25.0°C = 298.15K

# fststat

In [13]:
print(f"fststat:{fstpy.fststat.__doc__}")

fstpy.fststat(all_df.loc[all_df.nomvar == "UU"])

fststat:Produces summary statistics for a dataframe

    :param df: input dataframe
    :type df: pd.DataFrame

  nomvar typvar        level    ip1  ip2  ip3      dateo    etiket          mean          std     min_pos           min     max_pos          max
2     UU      P 1.000000E+00  12000    0    0  353315600  R1558V0N -1.045754E-01 1.271628E+01  (462, 197) -4.724017E+01  (460, 156) 5.834772E+01

# voir

In [14]:
print(f"voir{fstpy.voir.__doc__}")

fstpy.voir(all_df)

voirDisplays the metadata of the supplied records in the rpn voir format

  nomvar typvar    etiket   ni   nj  nk               dateo    ip1  ip2  ip3  deet  npas datyp  nbits grtyp   ig1  ig2    ig3    ig4
0     >>      X  R1558V0N  576    1   1 2009-03-02 12:00:00    153  235    0   450     0     E     32     E  1480  750  56000  44000
1     UU      P  R1558V0N  576  641   1 2009-03-02 12:00:00  12000    0    0   450     0     R     16     Z   153  235      0      0
2     VV      P  R1558V0N  576  641   1 2009-03-02 12:00:00  12000    0    0   450     0     R     16     Z   153  235      0      0
3     ^^      X  R1558V0N    1  641   1 2009-03-02 12:00:00    153  235    0   450     0     E     32     E  1480  750  56000  44000